<!DOCTYPE html>
<html lang="en">
<head>
	<title>Secure Password Generator</title>
	<script type="text/javascript" src="../js/angular.min.js"></script>
	<script type="text/javascript" src="../js/randomStringGenerator.js"></script>
	<script src="https://cdn.rawgit.com/zenorocha/clipboard.js/master/dist/clipboard.min.js"></script>
	<script type="text/javascript" src="../js/ngclipboard.min.js"></script>
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.css">
	<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</head>
<body ng-app="passwordApp" class="block">
	<artice class="message">
		<div class="container">
			<div class="box">
				<h1 class="message-header">Generate Password</h1><br>
				<div ng-controller="passController">
					Enter size: <input type="text" ng-model="len" ng-change="getNewKey()"><br><br>
					<div>
						<h2 class="title is-5">Format:</h2>
						<form>
							<input type="radio" ng-model="check" value="alphanumeric" ng-change="getNewKey()">Aplhanumeric <br>
							<input type="radio" ng-model="check" value="alphabetic" ng-change="getNewKey()">Alphabetic <br>
							<input type="radio" ng-model="check" value="numeric" ng-change="getNewKey()">Numeric <br>
							<input type="radio" ng-model="check" value="custom" ng-change="getNewKey()">+Special characters, Enter the special characters to include: <input type="text" ng-model="spike" ng-change="getNewKey()"> <br>
							<input type="radio" ng-model="check" value="none" ng-change="getNewKey()">None<br>
						</form>
						
							<!-- <br>
							<button ng-click="passKey">Click Me!</button> -->
						<br>
						Secure Password Generated: <input id="secret" type="text" ng-model="keyPass">
						<button class="btn" ngclipboard data-clipboard-target="#secret">
							<img src="../res/img/Clippy.svg" alt="Copy to clipboard">
						</button>
					</div>
				</div>
			</div>
		</div>
	</article>
</body>
</html>